<!DOCTYPE html>
<html lang="en" ng-app="NoteWrangler">
<head>
  <meta charset="UTF-8">
  <title>Note Wrangler</title>
  <link rel="stylesheet" href="assets/styles/bootstrap.css">
  <link rel="stylesheet" href="assets/styles/bootstrap-theme.css">
</head>
<body>
  
  <h1>Note Wrangler</h1>
  <div ng-view class="container-fluid"></div>
  
</body>
  <!-- vendor -->
  <script src="assets/javascript/vendor/jquery-2.1.3.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/bootstrap.js"></script>

  <!-- App -->
  <script src="assets/javascript/app.js"></script>
  <script src="assets/javascript/routes.js"></script>
  

  <!-- Directives -->
  <!-- Controllers -->
  <script src="assets/javascript/controllers/notesIndexController.js"></script>
  <script src="assets/javascript/controllers/notesShowController.js"></script>
  <script src="assets/javascript/controllers/notesEditController.js"></script>
  <script src="assets/javascript/controllers/notesCreateController.js"></script>
  <!-- Services -->
  <script src="assets/javascript/services/note.js"></script>

</html>